<title> LOGIN </title>
<style type="text/css">
div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt;
background-color: aliceblue } </style>
<div>
    <h2> LOGIN </h2>
    <form method="POST" action="/login">
        <div> <input type="text" name="username" placeholder="username"/> </div>
        <div> <input type="text" name="password" placeholder="password"/> </div>
        <div> <input type="checkbox" name="remember-me" id="remember-me"/> <label for="remember-me">Remember me</label></div>
        <div> <input type="submit" name="login" value="Log In" style="width:100%" /> </div>
    </form>
</div>